<div class="container">

  <div class="d-flex justify-content-between">

  <app-card *ngFor="let vada of posts"

  [vada] = "vada.title"
  [Username] = "vada.username"
  [imageUrl] = "vada.imageUrl"
  [content]  =  "vada.content"

  ></app-card>
  <!--
  <app-card
    
   [vada] = "posts[1].title"
   [Username] = "posts[1].username"
   [imageUrl] = "posts[1].imageUrl"
   [content]  =  "posts[1].content"

    
  ></app-card>
  
  <app-card
    
   [vada] = "posts[2].title"
   [Username] = "posts[2].username"
   [imageUrl] = "posts[2].imageUrl"
   [content]  =  "posts[2].content"

  ></app-card>


-->

</div>
</div>